<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body  style="background-image: url(../images/hero-bg.jpg)">
  <div class="row" style="margin:-20px; height: 12%;background-color: white">
    <% include ../header.ejs %>
<div class="container" style="max-width: 100%;padding: 4%;margin-top: 5%">
    <div style="background: rgba(255,255,255,.7);border-radius: 15px; padding: 20px;font-weight: bold">
        <h2 style="text-align: center;font-size: 40px">Bảng Điểm Thành Phần</h2>
  <p style="font-size: 30px">Học sinh: Nguyễn Minh Thi</p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Miệng</th>
          <th>15'</th>
          <th>15'</th>
          <th>15'</th>
          <th>1 tiết</th>
          <th>1 tiết</th>
          <th>Giữa kỳ</th>
          <th>15'</th>
          <th>15'</th>
          <th>15'</th>
          <th>1 tiết</th>
          <th>1 tiết</th>
          <th>Cuối kỳ</th>
          <th>DTB</th>
         
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Toán</td>
          <td>5</td>
          <td>8</td>
          <td>9</td>
          <td>7</td>
          <td>10</td>
          <td>6</td>
          <td>4</td>
          <td>5</td>
          <td>7</td>
          <td>9</td>
          <td>8</td>
          <td>10</td>
          <td>4</td>
          <td>5</td>
         
        </tr>
        <tr>
            <td>Anh</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Văn</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Sinh</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Sử</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Địa</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>GDCD</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Công Nghệ</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Mỹ Thuật</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Thể Dục</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Sinh</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Hóa</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>
          <tr>
            <td>Tin Học</td>
            <td>5</td>
            <td>8</td>
            <td>9</td>
            <td>7</td>
            <td>10</td>
            <td>6</td>
            <td>4</td>
            <td>5</td>
            <td>7</td>
            <td>9</td>
            <td>8</td>
            <td>10</td>
            <td>4</td>
            <td>5</td>
           
          </tr>

      </tbody>
    </table>
  </div>
  <p>Hạnh kiểm:</p>
  <p>Học lực:</p>
  <p>Lời phê giáo viên:</p>
    </div>
  
</div>

</body>
</html>