<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body  style="background-image: url(../images/hero-bg.jpg);padding: 20px">
    <% include ../header.ejs %>
<div id="fullscreen_bg" class="fullscreen_bg">
 <form class="form-signin">
<div class="container" style="width:100%;margin-top: 6%">
    <div  class="row">
        <div class="col-md-6 col-md-offset-3" style="width:100%;margin-left: 0%;   ">
        <div  class="panel panel-default" style="    background: rgba(255,255,255,.7);">
        <div style="background: rgba(255,255,255,.1);border-color: rgba(255,255,255,.1)" class="panel panel-primary">
        
            <h3 class="text-center">
                        Schedule</h3>
        
        <div class="panel-body">    
 
 
 <table class="table table-striped table-condensed">
                  <thead>
                  <tr>
                      <th>Ngày</th>
                      <th>Nghỉ học</th>
                      <th>Lý do</th>
                      <th>Người xin phép </th>
                  
                     
                  </tr>
              </thead>   
              <tbody>
                <tr>
                    
                    <td>2015/03/06</td>
                    <td>12:00 PM</td>
                    <td>Cairo</td>
                    <td>Aswan</td>
               
              
                 
                    </td>                                       
                </tr>
                <tr>
                    
                    <td>2015/5/07</td>
                    <td>8:00 PM</td>
                    <td>Cairo</td>
                    <td>Suez</td>
              
                   
                </tr>
                <tr>
                    
                    <td>2015/07/10</td>
                    <td>12:00 AM</td>
                    <td>Alexandria</td>
                    <td>Cairo</td>
           
                    
                </tr>
                <tr>
                
                    <td>2015/11/11</td>
                    <td>3:00 PM</td>
                    <td>Alexandria</td>
                    <td>Cairo</td>
      
                     
                </tr>
                <tr>
                    
                    <td>2015/12/13</td>
                    <td>5:00 PM</td>
                    <td>Alexandria</td>
                    <td>Cairo</td>
         
                   
                  
                </tr>
        
              </tbody>
              
  </div>
       </div>
        </div>
    </div>
</div>
</form>
              
            </table>
        </body>