<div class="top-header-bar">
        <div class="container-fluid">
            <div class="row header" >
                <div class="col-12 col-lg-6 d-none d-md-flex flex-wrap justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                    <div ng-show="checkrole()==true" class="site-branding">
                        <h1 style="margin-top:-1px "class="site-title"><a href="/Home" rel="home">C-<span>School</span></a></h1>
                    </div><!-- .site-branding -->
                    <div ng-show="checkrole()==false" class="site-branding">
                        <h1 style="margin-top:-1px "class="site-title"><a href="/phuHuynh/Home" rel="home">C-<span>School</span></a></h1>
                    </div><!-- .site-branding -->
                </div><!-- .col -->

                <div class="col-12 col-lg-6 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center">
                    <div class="header-bar-search" style="margin-top:-10px; float: right;">
                            <div ng-show="checkrole()==true" style="margin-top:-2px">
                                   <a style="color: black" href="/hoso">
                                    <img  class="rounded-circle" style="margin-bottom:5px ;position: absolute;height: 40px;width: 40px;margin-right: 10px"src="../images/{{hinh}}"/><h3 style="margin-left: 50px;" >{{tenNguoiDung}} </a> <span ng-click="logout()" style="top :6px;font-size: 30px;margin-left: 10px" class="glyphicon glyphicon-log-out"></span></h3>

                              </div>
                              <div ng-show="checkrole()==false" style="margin-top:-2px;">
                                  <a  style="color: black"href="/phuHuynh/hoso">
                                <img  class="rounded-circle" style="margin-bottom:5px ;position: absolute;height: 40px;width: 40px;margin-right: 10px"src="../images/{{hinh}}"/><h3 style="margin-left: 50px;" >{{tenNguoiDung}}</a>   <span ng-click="logout()" style="top :6px;font-size: 30px;margin-left: 10px" class="glyphicon glyphicon-log-out"></span></h3>

                          </div>
                        <!-- <form class="flex align-items-stretch">
                            <input type="search" placeholder="Bạn muốn tìm gì?">
                            <button type="submit" value="" class="flex justify-content-center align-items-center"><i class="fa fa-search"></i></button>
                        </form> -->
                    </div><!-- .header-bar-search -->

                  <!-- .header-bar-menu -->
                </div><!-- .col -->
            </div><!-- .row -->
        </div><!-- .container-fluid -->
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/6.5.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#reserved-urls -->

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>