<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body style="background-image: url(../images/hero-bg.jpg)">
    <% include ../../header.ejs %>
<div style="margin-top:6%"class="container">
        <div class="row">
            <div class="col-12">
                <div  style="background: rgba(255,255,255,.7);"class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img style=" width: 150px; height: 150px" src="../../../images/{{hinh}}" id="img" class="img-fluid" alt="Responsive image">
                                <!-- <img src="../images/{{hinh}}" id="img" style="width: 150px; height: 150px" class="img-thumbnail" /> -->
                                <div class="middle">
                                        <input ng-show="false" type="file" onchange="readURL(this)"  id="fileUpdateImage"/>
                                        <button style=" border-radius:10px;background: #19c880;  margin-left: 18%;margin-top:10px" ng-click="chooseImage()"  type="button" class="btn-u pull-left">Tải ảnh lên</button>
    
                                </div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size:40px; font-weight: bold;margin-top: 8%;margin-left: 15rem"><a href="javascript:void(0);">Nguyễn Minh Thi</a></h2>
                            
                                </div>
                                <div class="ml-auto">
                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Học và tên</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input ng-model="ten" size="60" maxlength="255" class="form-control"type="text"> 

                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Ngày sinh</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input ng-model="ngaySinh" size="60" maxlength="255" class="form-control"type="text"> 

                                            </div>
                                        </div>
                                        <hr />
                                        
                                        
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Giới tính</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input ng-model="gioiTinh" size="60" maxlength="255" class="form-control"type="text"> 

                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Lớp</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input ng-model="lop" size="60" maxlength="255" class="form-control"type="text"> 
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Địa chỉ</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input ng-model="diaChi" size="60" maxlength="255" class="form-control"type="text"> 

                                            </div>
                                        </div>
                                        <hr />
                                       

                                    </div>
                              
                                </div>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
    </body>
    <script src="../javascripts/hocSinh/create.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>