<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css"/>
<link rel='stylesheet' href='/stylesheets/style.css' />
<body ng-app="user" ng-controller="createController" style="background-image: url(../images/hero-bg.jpg)">
    <% include ../../header.ejs %>
<div style="margin-top:6%"class="container">
        <p id="id" ng-show="false"><%= id %></p>
        <div class="row">
            <div class="col-12">
                <div  style="background: rgba(255,255,255,.7);"class="card">

                    <div class="card-body">
                        <div class="card-title mb-4">
                                <h1 style="color: #19c880;font-size: 55px;text-align: center!important; margin: initial; margin-bottom: 10px;">Thêm học sinh</h1><hr>


                        <div class="row">
                            <div class="col-12">
                                
                                <div class="tab-content ml-1" id="myTabContent">
                                     
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                            <div class="image-container" style="float: right;margin-right:20px">
                                                    <img style=" width: 210px; height: 250px" src="../images/{{hinh}}" id="img" class="img-fluid" alt="Responsive image">
                                                <!-- <img src="../images/{{hinh}}" id="img" style="width: 150px; height: 150px" class="img-thumbnail" /> -->
                                                <div class="middle">
                                                        <input ng-show="false" type="file" onchange="readURL(this)"  id="fileUpdateImage"/>
                                                        <button style=" border-radius:10px;background: #19c880;  margin-left: 30%;margin-top:10px" ng-click="chooseImage()"  type="button" class="btn-u pull-left">Tải ảnh lên</button>
                    
                                                </div>
                                                <div class="userData ml-3">
                                                    <!-- <h2 class="d-block" style="font-size:40px; font-weight: bold;margin-top: 8%;margin-left: 15rem"><a href="javascript:void(0);">Nguyễn Minh Thi</a></h2> -->
                                            
                                                </div>
                                                <div class="ml-auto">
                                                    <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                                                </div>
                                            </div>

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Họ và tên</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <input style="width:500px; border-radius: 10px" type="text" ng-model="tenHocSinh" placeholder="Nhập tên học sinh"/>
                                            </div>
                                        </div>
                                        <hr />
                                    
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Lớp</label>
                                            </div>
                                            <div class="col-md-4 col-3">
                                                    <select style="width:220px;border-radius: 10px"  id="lop"class="form-control" id="exampleFormControlSelect1" ng-model="lop" ng-options="option.value as option.name for option in danhSachLop" >
                                                     
                                                    </select> 
                                                                                         
                                                </div>
                                                <div class="col-md-4 col-3">
                                                        <select style="width:220px;border-radius: 10px"  id="loai"class="form-control" id="exampleFormControlSelect1" ng-model="loai" ng-options="option.value as option.name for option in danhSachLoai" >
                                                     
                                                            </select>      
                                                                                             
                                                    </div>
                                        </div>
                                        <hr />
                                      
                                        
                                        <div class="row">
                                                <div class="col-sm-1 col-md-2 col-5">
                                                        <label style="font-weight:bold;">Ngày Sinh</label>
        
                                                    </div>
                                                    <div class="col-md-4 col-5">
                                                       <input id="datepicker" width="250" ng-model="ngaySinh"  />
                                                    </div>
                                            <div class="col-sm-1 col-md-2 col-5">
                                                <label style="font-weight:bold;">Giới tính</label>
                                            </div>
                                            <div class="col-md-3 col-5">
                                                <input ng-model="gioiTinh"type="radio" name="gender" value="Nam"> Nam 
                                                <input ng-model="gioiTinh" type="radio" name="gender" value="Nữ"> Nữ
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Địa chỉ</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <textarea style="    border-radius: 10px;width:500px" row="10"type="text" ng-model="diaChi" placeholder="Nhập địa chỉ"></textarea>

                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                                <div class="col-sm-3 col-md-2 col-5">
                                                    <label style="font-weight:bold;">Quê Quán</label>
                                                </div>
                                                <div class="col-md-8 col-6">
                                                    <textarea style=" margin-left: -40px;  border-radius: 10px;width:500px" row="10"type="text" ng-model="queQuan" placeholder="Nhập địa chỉ"></textarea>
    
                                                </div>
                                            </div>
                                            <hr />

                                    </div>
                              
                                </div>
                            </div>
                            <div class="col-md-12">
                                    <button style="margin-left: 38%;width:130px;font-size: 25px;border-radius: 10px ; background-color:#19c880"
                                    class="btn-u pull-left" type="submit" ng-click="sua()">Cập nhật</button>
                                    <button style="position:absolute;width:130px;margin-left: 10px;font-size: 25px;border-radius: 10px ; background-color:#d45842"
                                    class="btn-u pull-left" type="submit" ng-click="xoa()">xóa</button>                                </div>
                        </div>


                    </div>
                   

                </div>
            </div>
        </div>
    </div>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
<script>
    $('#datepicker').datepicker();
</script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="../javascripts/hocSinh/edit.js"></script>
    