

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="../css/giaoVien/User/create.css" rel="stylesheet" id="bootstrap-css">

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>


body > div > div.col-md-6 > table > thead > tr > th{
    width: 25%;
}
</style>
<body ng-app="user" ng-controller="userController" style="background-image: url(../images/hero-bg.jpg);padding: 20px">
 <div class="row" style="margin:-20px; height: 8%;background-color: white">
 <div class="col-12">
  <% include ../../header.ejs %> 
<br />
<div class="container" style="margin-top:5%;background: rgba(255,255,255,.7)">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="width:100%">
        <h1 style="text-align: center;font-size:50px!important;color:#19c880;padding: 25px">Danh sách các tài khoản phụ huynh</h1>
        <table class="table">
            <thead>
              <tr>
               
                <th  style="width:25%" scope="col">Tên Phụ huynh</th>
                <th style="width:25%" scope="col">Học sinh</th>
                <th style="width:25%" scope="col">Số điện thoại</th>
                <th style="width:15%" scope="col"></th>
               
              </tr>
            </thead>
            <tbody ng-repeat="user in listuser">
              <tr>
                
                <td>{{user.tenNguoiDung}}</td>
                <td>{{user.maSoHocSinh}}</td>
                <td>{{user.soDienThoai}}</td>
                <td ><a href="/user/{{user._id}}"><button class="btn btn-warning"> <span class="glyphicon glyphicon-pencil"></span>&ensp; Sửa</button></a> </td>
                
              </tr>
              
            </tbody>
          </table>
          <a href="/user/create"><button style=" margin-bottom: 30px;margin-left: 38%;font-size: 25px;border-radius: 10px ; background-color:#19c880"
          class="btn-u pull-left" type="button" ><span class="glyphicon glyphicon-plus-sign"></span>&ensp; Thêm tài khoản</button></a>
    </div>
      </div>
    </body>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/javascripts/common.js"></script>

<script src="../javascripts/giaoVien/User/list.js"></script>